.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Nunito', serif;
  position: absolute;
  top: 0px;
  left: 0px;
}

.AboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-color: royalblue;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name {
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}

.About {
  text-align: center;
  width: 80vw;
  padding: 20px;
}

.HomeProfilePic {
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: -4px 4px white;
}

.ProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
  color: black;
}

.ProjectsHeader {
  text-align: left;
  font-size: 30px;
  width: 80%;
  padding: 20px;
}

.HeaderDesc {
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  width: 90%;
  padding: 20px;
}

.ProjectsCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  width: 80%;
  background: rgba(211, 211, 211, 0.3);
  margin: 25px;
  border-radius: 25px;
  padding: 25px;
}

.ProjectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 110px;
  margin: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -4px 4px royalblue;
}

.ProjectCard:hover {
  transform: scale(1.1);
}

.ProjectLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
}

.FooterContainer {
  display: flex;
  justify-content: center;
  background-color: royalblue;
  color: white;
  width: 100%;
}

.Socials {
  text-align: left;
  padding: 10px;
}

.SocialLink {
  margin: 5px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.Headshot {
  padding: 25px;
}

i {
  width: 20px;
  margin-right: 5px;
}

.SocialLink > img {
  width: 20px;
  margin-right: 5px;
}

.SocialLink > a {
  color: white;
}

.profilePic {
  border-radius: 100px;
}
